{% extends  'base.html'%}
{% load staticfiles %}

{% block content %}
<div class="post-text">
	<div class="woocommerce columns-4 ">
<form class="woocommerce-ordering" method="get">
	<select name="orderby" class="orderby"  style="	visibility: hidden;" aria-label="Заказ в магазине">
					<option value="menu_order" selected="selected">Исходная сортировка</option>
					<option value="popularity">По популярности</option>
					<option value="date">Сортировка по более позднему</option>
					<option value="price">Цены: по возрастанию</option>
					<option value="price-desc">Цены: по убыванию</option>
			</select>
	</form>
<ul class="products columns-4 ">

	 {% for List_Market in object_list %}
<li class="product type-product post-1681 status-publish first instock product_cat-atlas has-post-thumbnail shipping-taxable purchasable product-type-simple">
	<a href="{{ request.path }}{{  List_Market.slug  }}/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
        <img src="{{List_Market.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" width="300" height="275"><h2 class="woocommerce-loop-product__title">{{ List_Market.name }}</h2>
	<span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₽</span>{{ List_Market.price }}</span></span>
</a>
	 {% endfor %}

		</ul>
	</div>
</div>
{% endblock %}
