{% extends  'base.html'%}
{% load staticfiles %}

{% block js_content %}
<script type="text/javascript" src="/static/pette_files/jquery.form.js"></script>
<style>
#btn{
	color: #ffffff;
	background-color: #00548a;
	font-size: 100%;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	padding: .618em 1em;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	border: 0;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
}
</style>
{% endblock %}
{% block content %}
<div class="post-text">
	<div style="margin: 5px 0px 35px 0px">		
<div class="title">
						<span>
							{{ posts.name}}						</span>
	</div>
	</div>
	{{ posts.text|safe }}

		<form action="/forma_obratnoj_svyazi/?name={{ posts.slug }}&cat={{ cat }}" method="post" id="cart">
			{% csrf_token %}
			{{ cart.Cart_one_prod.as_p }}
			    <input type="submit" id="btn" class="single_add_to_cart_button button alt" value="Добавить услугу" />
		</form>
</div>
{% endblock %}
